.main-item {
  display: flex;
  width: 23.5rem;
  margin: 20px;
  margin-top: 50px;
  padding: 20px;
  box-shadow: 3px 3px 10px #0000002d;
  position: relative;
  border-radius: 10px;
  img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: 1px solid lightgray;
  }
  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    &-name {
      font-size: 20px;
      font-weight: 700;
      color: #525252;
      display: flex;
      align-items: center;
      svg {
        margin-left: 5px;
        font-size: 21px;
        color: rgb(235, 235, 0);
      }
      span {
        color: lightgray;
      }
    }
    &-description {
      width: 100%;
      word-wrap: break-word;
      word-break: break-all;
      color: gray;
      margin-top: 5px;
    }
  }
}
