.profile-comment {
  margin-top: 150px;
  display: flex;
  width: 100%;
  justify-content: center;
  &-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
  }
  &-create {
    font-size: 1rem;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    &-input {
      color: black;
      background-color: rgb(238, 238, 238);
      border-radius: 10px;
      border: none;
      outline: none;
      width: 100%;
      height: 2.5rem;
      padding: 1rem;
      padding-right: 5rem;
      font-size: 1rem;
    }
    &-submit {
      position: absolute;
      font-size: 1.4rem;
      cursor: pointer;
      color: rgb(22, 124, 241);
      right: 1rem;
    }
  }
  &-item {
    display: flex;
    width: 100%;
    margin-top: 1.2rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid;
    border-color: rgb(245, 245, 245);
    position: relative;
  }
  &-box {
    display: flex;
    flex-direction: column;
    padding-left: 0.8rem;
    flex-grow: 1;
    &-time {
      display: inline-block;
      opacity: 0.7;
      margin-left: 0.8rem;
      font-size: 0.7rem;
      color: black;
      font-weight: 500;
    }
    &-update {
      display: inline-block;
      opacity: 0.7;
      margin-left: 0.3rem;
      font-size: 0.7rem;
      color: black;
      font-weight: 500;
    }
    &-title {
      display: flex;
      align-items: center;
      font-size: 20px;
      word-break: break-all;
      font-weight: 700;
      &-admin {
        color: green;
        margin-left: 0.5rem;
      }
    }
    &-content {
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      word-break: break-word;
      hyphens: auto;
      font-size: 15px;
      color: gray;
    }
    &-private {
      padding-left: 0.8rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-top: 0.7rem;
      &-title {
        font-size: 0.9rem;
        font-weight: 500;
        padding-bottom: 0.7rem;
        opacity: 0.7;
      }
    }
    &-util {
      padding-top: 0.8rem;
      font-size: 0.7rem;
      opacity: 0.8;
      color: black;
      margin-bottom: 0.5rem;
      span {
        cursor: pointer;
        margin-right: 0.5rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
