@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  font-family: "NanumSquareRound", sans-serif;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}
