.profile {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
  &-box {
    width: 100%;
    max-width: 1280px;
    &-bg {
      &-area {
        background-color: rgb(243, 243, 243);
        height: 250px;
        border-radius: 0px 0px 30px 30px;
      }
      &-content {
        position: relative;
        padding-top: 140px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &-upload {
          position: absolute;
          left: 58%;
          top: 25px;
          label {
            display: inline-block;
            color: #999;
            font-size: inherit;
            line-height: normal;
            vertical-align: middle;
            cursor: pointer;
            border-radius: 50%;
            padding: 10px;
            background-color: #fff;
            border: 1px solid rgb(150, 150, 150);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
          }
          input[type="file"] {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
          }
        }
        &-star {
          display: flex;
          align-items: center;
          font-size: 30px;
          color: gray;
          svg {
            margin-left: 5px;
            font-size: 31px;
            color: rgb(235, 235, 0);
          }
          span {
            padding-top: 5px;
            display: flex;
            align-items: center;
          }
          &-count {
            margin-left: 20px;
            font-size: 27px;
          }
        }
        &-img {
          position: absolute;
          width: 300px;
          height: 300px;
          border-radius: 50%;
          box-shadow: 1px 3px 10px #00000021;
          border: 3px solid white;
          left: 50%;
          top: -180px;
          transform: translate(-50%, 0);
        }
        &-name {
          font-weight: 800;
          font-size: 38px;
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          span {
            display: flex;
            justify-content: center;
          }
        }
        &-description {
          max-width: 700px;
          color: gray;
          margin-top: 5px;
          font-size: 23px;
          svg {
            font-size: 16px;
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
